@charset "utf-8";
.tableTree{
    width: 500px;
}
.filterC{
    background-color: aquamarine;
    min-height: 200px;
}

.tableH{
    background-color: burlywood;
    min-height: 200px;
}

.filterC > div{
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.tableH > div{
    display: inline-block;
    background-color: pink;
    cursor: pointer;
    margin: 2px 5px;
}